<div class="dashboard-top-genres">
  <div class="heading d-flex flex-column">
    <div class="container pad-y"><h1 class="display-2">Top Genres</h1></div>
  </div>
  
  <div class="container pad-y">
    <h3 class="s-title">This Week</h3>

    <genre-tile
      *ngFor="let genre of shortGenres, index as i"
      [genreData]="genre"
      [rank]="i + 1"
    ></genre-tile>
  </div>
  
  <div class="container pad-y">
    <h3 class="s-title">Last 6 Months</h3>

    <genre-tile
      *ngFor="let genre of mediumGenres, index as i"
      [genreData]="genre"
      [rank]="i + 1"
    ></genre-tile>
  </div>

  <div class="container pad-y">
    <h3 class="s-title">All Time</h3>

    <genre-tile
      *ngFor="let genre of longGenres, index as i"
      [genreData]="genre"
      [rank]="i + 1"
    ></genre-tile>
  </div>
</div>
