@import '../../../../../global/button.scss';
@import '../../../../../global/label.scss';
@import '../../../../../global/theme.scss';

.dashboard-home {
    height: 100%;
    width: 100%;

    .heading {
        align-items: center;
        height: 15rem;
        justify-items: center;
    }
}