<div class="dashboard-home">
  <div class="heading d-flex">
    <div class="container">
        <h1 class="display-2">Your music. Your stats.</h1>
      </div>
  </div>
  <div class="container">
    <h3>Your Top Artists This Week</h3>
    <div class="row">
    </div>
  </div>
  <div class="container">
    <h3>Your Top Tracks This Week</h3>
    <p class="lbl-spottr">Based on listening history.</p> 
    <div class="row">
      <song-card class="col" *ngFor="let track of (topWeeklyTracks)?.items" [songData]="track"></song-card>
    </div>
  </div>
</div>