.login-container {
  background-color: #222;
  color: #fff;
  height: 100vh;

  .d-flex {
    height: 100%;
  }

  .login-container__splash {
    background-color: #fff;
  }

  .login-container__panel {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}
