.image-container {
  margin: 1rem 0;
  max-width: 300px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .playlist__stats {
    @apply mr-4;
    @apply my-4;
    @apply overflow-auto;
    @apply sticky;
    @apply top-0;

    align-self: flex-start;
    max-height: calc(100vh - 6rem);
    max-width: 150px;
    top: 3rem;
  }

}

@media screen and (min-width: 1024px) {
  .playlist__stats {
    max-width: 300px;
  }
}
