.artist-tile {
    margin: 1rem 0;

    img {
        height: 100px;
        width: 100px;
    }

    .tile-col {
        margin: 0 2rem;

        &.col-rank {
            width: 25px;
        }
        &.col-artist {
            width: 125px;
        }
        &.col-popularity {
            width: 125px;
        }
        &.col-genre {
            width: 375px;

            p {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}