<div class="artist-tile d-inline-flex align-items-center">
  <div class="tile-col"><img src="{{ (artistData?.images)[0].url }}" /> </div>
  <div class="tile-col col-rank">
    <h1>{{ rank }}</h1>
  </div>
  <div class="tile-col col-artist">
    <h5 class="title">{{ artistData?.name }}</h5>
    <p class="subtitle">{{ artistData?.followers.total | number }} followers</p>
  </div>
  <div class="tile-col col-popularity">
    <h5 class="title">Popularity</h5>
    <p class="subtitle">{{ artistData?.popularity }}</p>
  </div>
  <div class="tile-col col-genre">
    <h5 class="title">Genres</h5>
    <p class="subtitle">{{ artistData?.genres }}</p>
  </div>
</div>
