a {
  color: #fff;
  text-decoration: none;
}

.artist-tile {
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
  user-select: none;
  transition: 0.1s ease;
  text-decoration: none;

  &:active {
    opacity: 0.85;
    transition: 0.1s ease;
    transform: scale(0.99);
  }

  img {
    height: 100px;
    width: 100px;
  }

  .tile-col {
    margin: 0 2rem;

    &.col-rank {
      width: 25px;
    }
    &.col-artist {
      width: 125px;
    }
    &.col-popularity {
      width: 125px;
    }
    &.col-genre {
      width: 375px;

      p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
