@import './theme.scss';

/* Button styling for Spottr */
.btn-spottr {
  background-color: $btn-background;
  border: 1px solid $btn-border;
  border-radius: 3rem;
  color: $btn-color;
  cursor: pointer;
  font-size: .6rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: .1rem;
  outline: none;
  padding: $base-spacing * 0.5 $base-spacing * 1.5;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: all .2s ease-in;
  user-select: none;

  &:hover {
    background-color: $btn-background-hover;
  }
}