/* Button styling for Spottr */
.btn-spottr {
  border: 1px solid rgba(169,169,169,.3);
  border-radius: 3rem;
  color: #a9a9a9;
  cursor: pointer;
  font-size: .6rem;
  letter-spacing: 3px;
  line-height: 1rem;
  margin: .1rem;
  padding: .5rem 1.5rem;
  position: relative;
  text-align: center;
  transition: all .2s ease-in;
  user-select: none;
}
