/* Color app specific components */

@import './colors.scss';

/* BUTTONS */
$btn-background: transparent;
$btn-background-hover: rgba($silver-chalice, 0.25);
$btn-border: rgba($silver-chalice, 0.3);
$btn-color: $silver-chalice;

/* DASHBOARD */
$dashboard-accent: $spring-green;

/* SPACING */
$base-spacing: 1rem;
