.wow {
  background: url(https://images.unsplash.com/photo-1551125735-900f662aeb07?&w=1000&q=80)
    center center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100% 200% !important;
  font-weight: bold;
}

.splash__container {
  max-width: 1200px;
  
  @media screen and (min-width: 768px) {
    .stroke-font {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      letter-spacing: 3px;
      text-stroke: 1px #fff; /* Future-proofing */
    }
  }
}
