@import '../../../../global/button.scss';
@import '../../../../global/label.scss';
@import '../../../../global/theme.scss';
.dashboard-top-artists {
    .heading {
        align-items: center;
        justify-items: center;
    }

    .s-title {
        padding: 1rem 0;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 99;

        &:before {
            background: rgba(24, 20, 47, 0.9);
            bottom: 0;
            content: "";
            display: block;
            left: -10px;
            position: absolute;
            right: -10px;
            top: -5px;
            z-index: -1;
        }
    }

    .pad-y {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .row {
        margin: 3rem 0;

        .col {
            flex-grow: 0;
        }
    }
}