<div class="dashboard-top-artists">
  <div class="heading d-flex flex-column">
    <div class="container pad-y"><h1 class="display-2">Your Top Artists</h1></div>
  </div>
  <div class="d-flex justify-content-end container">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" [class.active]="viewMode === 'grid'" (click)="toggleViewMode('grid')"><fa-icon class="edit" [icon]="['fa', 'th']"></fa-icon></button>
      <button type="button" class="btn btn-primary" [class.active]="viewMode === 'tile'" (click)="toggleViewMode('tile')"><fa-icon class="edit" [icon]="['fa', 'grip-lines']"></fa-icon></button>
    </div>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">This Week</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else shorttiles">
      <artist-card
        class="col"
        *ngFor="let artist of shortTermArtists?.items"
        [artistData]="artist"
      ></artist-card>
    </div>
    <ng-template #shorttiles>
      <artist-tile
        *ngFor="let artist of shortTermArtists?.items, index as i"
        [artistData]="artist"
        [rank]="i + 1"
      ></artist-tile>
    </ng-template>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">Last 6 Months</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else mediumtiles">
      <artist-card
        class="col"
        *ngFor="let artist of mediumTermArtists?.items"
        [artistData]="artist"
      ></artist-card>
    </div>
    <ng-template #mediumtiles>
      <artist-tile
        *ngFor="let artist of mediumTermArtists?.items, index as i"
        [artistData]="artist"
        [rank]="i + 1"
      ></artist-tile>
    </ng-template>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">All Time</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else longtiles">
      <artist-card
        class="col"
        *ngFor="let artist of longTermArtists?.items"
        [artistData]="artist"
      ></artist-card>
    </div>
    <ng-template #longtiles>
      <artist-tile
        *ngFor="let artist of longTermArtists?.items, index as i"
        [artistData]="artist"
        [rank]="i + 1"
      ></artist-tile>
    </ng-template>
  </div>
</div>
