.dashboard-top-artists {
    .heading {
        align-items: center;
        justify-items: center;
    }

    .row {
        margin: 3rem 0;

        .col {
            flex-grow: 0;
        }
    }
}