<div class="dashboard-top-tracks">
  <div class="heading d-flex flex-column">
    <div class="container pad-y">
      <h1 class="display-2">Your Top Tracks</h1>
    </div>
    <div class="d-flex justify-content-end container">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" [class.active]="viewMode === 'grid'" (click)="toggleViewMode('grid')"><fa-icon class="edit" [icon]="['fa', 'th']"></fa-icon></button>
        <button type="button" class="btn btn-primary" [class.active]="viewMode === 'tile'" (click)="toggleViewMode('tile')"><fa-icon class="edit" [icon]="['fa', 'grip-lines']"></fa-icon></button>
      </div>
    </div>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">This Week</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else shorttiles">
      <song-card
        class="col"
        *ngFor="let track of shortTermTracks?.items"
        [songData]="track"
      ></song-card>
    </div>
    <ng-template #shorttiles>
      <song-tile
        *ngFor="let track of shortTermTracks?.items, index as i"
        [songData]="track"
        [rank]="i + 1"
      ></song-tile>
    </ng-template>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">Last 6 Months</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else mediumtiles">
      <song-card
        class="col"
        *ngFor="let track of mediumTermTracks?.items"
        [songData]="track"
      ></song-card>
    </div>
    <ng-template #mediumtiles>
      <song-tile
        *ngFor="let track of mediumTermTracks?.items, index as i"
        [songData]="track"
        [rank]="i + 1"
      ></song-tile>
    </ng-template>
  </div>
  <div class="container pad-y">
    <h3 class="s-title">All Time</h3>
    <div class="row" *ngIf="viewMode === 'grid'; else longtiles">
      <song-card
        class="col"
        *ngFor="let track of longTermTracks?.items"
        [songData]="track"
      ></song-card>
    </div>
    <ng-template #longtiles>
      <song-tile
        *ngFor="let track of longTermTracks?.items, index as i"
        [songData]="track"
        [rank]="i + 1"
      ></song-tile>
    </ng-template>
  </div>
</div>
