@import '../../../../global/button.scss';
@import '../../../../global/label.scss';
@import '../../../../global/theme.scss';
.dashboard-top-tracks {
    .heading {
        align-items: center;
        justify-items: center;
    }

    .container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .row {
        margin: 3rem 0;

        .col {
            flex-grow: 0;
        }
    }
}