button {
    letter-spacing: 2px;

    &:hover {
        @apply text-gray-600;

        background-color: transparentize($color: #fff, $amount: .25);
    }

    &:focus {
        @apply text-gray-900;

        background-color: #fff;
    }
}