.genre-tile {
    margin: 1rem 0;

    .tile-col {
        margin: 0 2rem;
    }

    .col-rank {
        width: 50px;
    }

    .col-genre {
        width: 175px;
    }

    .col-song-nums {
        width: 125px;
    }
}