@import '../../../../../global/label.scss';

a {
  text-decoration: none;
}

.artist-card {
  color: #fff;
  max-height: 250px;
  width: 180px;

  &:active {
    opacity: 0.85;
    transition: 0.1s ease;
    transform: scale(0.99);
  }

  img {
    border-radius: 0.5rem;
    height: 180px;
    margin-bottom: 0.5rem;
    object-fit: cover;
    width: 100%;
  }

  .title {
    letter-spacing: 0.03rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .subtitle {
    font-size: 80%;
    opacity: 0.5;
  }
}
