@import "../../../styles/colors.scss";

.sidebar {
  @mixin sidebar-link {
    @apply cursor-pointer;
    @apply font-medium;
    @apply font-normal;
    @apply tracking-tighter;
    @apply w-full;
  }

  @apply fixed;
  @apply text-white;
  background-color: #000000e6;
  backdrop-filter: saturate(180%) blur(20px);
  min-width: 225px;
  width: 100%;
  z-index: 999;

  @screen md {
    @apply bg-black;
    @apply sticky;
    backdrop-filter: none;
  }

  .sidebar__container {
    grid-auto-rows: minmax(min-content, max-content)
      minmax(min-content, max-content) minmax(min-content, max-content) auto;
  }

  .sidebar__link {
    @include sidebar-link;
    @apply my-2;

    color: $sidebar-link-fg;

    a {
      @apply block;
      @apply px-4;
      @apply py-2;
      @apply rounded-md;

      &:hover {
        background-color: $sidebar-link-hover;
      }
    }

    &--active {
      @apply bg-gray-900;
      @apply text-white;
    }
  }

  .sidebar__playlist-item {
    @include sidebar-link;

    color: $sidebar-link-fg;

    a {
      @apply block;
      @apply px-4;
      @apply py-1;
      @apply rounded-md;

      &:hover {
        background-color: $sidebar-link-hover;
      }
    }
  }

  .sidebar__btn-container {
    @screen md {
      @apply hidden;
    }
  }

  .sidebar__btn {
    border-color: $sidebar-link-fg;
    color: $sidebar-link-fg;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    @apply transition-all;
    @apply duration-200;

    max-height: 3.5rem;
    overflow: hidden;

    &.sidebar--open {
      max-height: 100vh;
    }
  }
}
