@import "../../../styles/colors.scss";

.sidebar {
  @apply bg-black;
  @apply text-white;
  min-width: 225px;

  .sidebar__link {
    @apply cursor-pointer;
    @apply font-medium;
    @apply my-2;
    @apply font-normal;
    @apply tracking-tighter;

    color: $sidebar-link-fg;

    a {
      @apply block;
      @apply rounded-md;
      @apply px-4;
      @apply py-2;

      &:hover {
        background-color: $sidebar-link-hover;
      }
    }

    &--active {
      @apply bg-gray-900;
      @apply text-white;
    }
  }
}
