/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./styles/fonts.scss";
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Black"), local("CircularStd-Black"),
    url($font-circular-black) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular Std";
  src: local("Circular Std Medium"), local("CircularStd-Medium"),
    url($font-circular-medium) format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "Circular Std", system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.page {
  @extend .max-viewport;

  @apply mx-auto;
  @apply px-8;
  @apply py-4;
  @apply text-white;
  @apply min-h-screen;
  @apply w-full;
}

.max-viewport {
  max-width: 1400px;
}
