<div class="dashboard-home">
  <div class="heading d-flex">
    <div class="container">
        <h1 class="display-2">Hi {{ (profile)?.display_name.split(' ')[0] }}!</h1>
      </div>
  </div>
  <div class="container">
    <h3>Your Top Artists This Week</h3>
    <p class="lbl-spottr">Based on listening history.</p> 
    <div class="row">
      <artist-card class="col" *ngFor="let artist of (topWeeklyArtists)?.items" [artistData]="artist"></artist-card>
    </div>
    <div class="d-flex justify-content-end my-4">
      <button class="btn btn-dark">View More</button>
    </div>
  </div>
  <div class="container">
    <h3>Your Top Tracks This Week</h3>
    <p class="lbl-spottr">Based on listening history.</p> 
    <div class="row">
      <song-card class="col" *ngFor="let track of (topWeeklyTracks)?.items" [songData]="track"></song-card>
    </div>
    <div class="d-flex justify-content-end my-4">
      <button class="btn btn-dark">View More</button>
    </div>
  </div>
</div>